<div>
    <div *ngIf="isMenu()">
        <app-menu [menu]="menuService.productToMenu(data)"></app-menu>
        <div *ngFor="let foodGroup of menuService.productToMenu(data).foodGroups">
            <app-food [food]=" foodService.productToFood(foodGroup.product)"></app-food>
        </div>
    </div>
    <app-food *ngIf="!isMenu()" [food]="foodService.productToFood(data)"></app-food>
    <div class="amount-div">
        <app-amount-buttons [(amount)]="amount"></app-amount-buttons>
    </div>
</div>
