.btn-div {
  display: flex;
}

.cancel-btn {
  margin-right: 10px;
}

.amount-btn {
  border-radius: 100px;
}

.amount-div {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
