<div>
    <div *ngIf="isMenu()">
        <app-menu [menu]="menuService.productToMenu(data)"></app-menu>
        <div *ngFor="let foodGroup of menuService.productToMenu(data).foodGroups">
            <app-food [food]=" foodService.productToFood(foodGroup.product)"></app-food>
        </div>
    </div>
    <app-food *ngIf="!isMenu()" [food]="foodService.productToFood(data)"></app-food>
    <div class="amount-div">
        <app-amount-buttons [(amount)]="amount" (amountChange)="calculatePrice()"></app-amount-buttons>
    </div>
    {{price}} €
</div>
<div>
    <button mat-button class="btn btn-danger" (click)="close()">
        Annuler
    </button>
    <button mat-button class="btn btn-success" (click)="onValid()">
        Valider
    </button>
</div>
