<mat-tab-group>
    <mat-tab label="Les menus">
        <app-food-list [type]="MENU"></app-food-list>
    </mat-tab>
    <mat-tab label="Les entrées">
        <app-food-list [type]="ENTREE"></app-food-list>
    </mat-tab>
    <mat-tab label="Les plats">
        <app-food-list [type]="PLAT"></app-food-list>
    </mat-tab>
    <mat-tab label="Les desserts">
        <app-food-list [type]="DESSERT"></app-food-list>

    </mat-tab>
    <mat-tab label="Les boissons">
        <app-food-list [type]="BOISSON"></app-food-list>
    </mat-tab>
</mat-tab-group>
