<div class="container-fluid movie_desc">
    <div class="row">
        <div class="col-xs-12 col-lg-5">
            <div class="column_title">Chercher un film</div>
            <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
            <app-movie-table [_searchString]="searchString"></app-movie-table>
        </div>
        <div class="col-xs-12 col-lg-5">
            <div class="column_title">Chercher un repas</div>
            <app-selection-product></app-selection-product>
        </div>
        <div class="col-xs-12 col-lg-2">
            <app-basket></app-basket>
        </div>
    </div>
</div>
