<app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style" (click)="updateSearchType($event)">
    <mat-button-toggle #buttonMovie value="movie">Movie</mat-button-toggle>
    <mat-button-toggle #buttonFood value="food">Food</mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="searchMovieResponse != null && movieSelected()">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">type</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of searchMovieResponse.results">
            <th scope="row">Movie</th>
            <td>{{movie.title}}</td>
            <td>{{movie.overview}}</td>
            <td>
                <star-rating
                        [starType]="'svg'"
                        [labelText]="'Score MovieDB'"
                        [readOnly]="true"
                        [rating]="movie.vote_average / 2"
                ></star-rating>
            </td>
        </tr>
        </tbody>
    </table>
</div>
