<mat-toolbar color="primary">
    <a href="/homepage" class="logo">
        <img class="logo" src="../assets/images/icon.png" alt="">
        <span>MenuCinema</span>
    </a>
    <span class="spacer"></span>
    <button mat-button>
        <mat-icon>person</mat-icon>
    </button>
    <button mat-button>
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-button (click)="signOut()">
        <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
