<mat-toolbar color="primary">
    <a class="logo" (click)="goToHomepage()">
        <img

                class="logo"
                [src]="getLogoPath()"
                alt=""
        >
        <span>MenuCinema</span>
    </a>
    <span class="spacer"></span>
    <button mat-button (click)="goToProfile()">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-button (click)="signOut()">
        <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar>

<!--<div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="file" name="profile" (change)="onFileSelect($event)" />
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
    </form>
</div>-->


<router-outlet></router-outlet>

