<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let oneCommand of data">
        <app-commande
                [_order]="oneCommand"> {{ oneCommand }}
            </app-commande>
    </tr>
    </tbody>
</table>

<!--<div class="table-responsive text-nowrap">
    <table class="table-responsive text-nowrap">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Commande</th>
            <th scope="col">Coût total</th>
        </tr>
        </thead>
        <tbody>
        <app-commande *ngFor="let oneCommand of data" class="one-command"
                      [_order]="oneCommand">  <tr> {{ oneCommand }} </app-commande>
        </tbody>
    </table>
</div> -->

