<div class="basket-div">
    <div class="validation">
        <button class="btn btn-success" (click)="submitBasket()"> Valider mon panier</button>
        <button mat-button (click)="clearBasket()">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </div>
    <h1 *ngIf="basket.foodGroups.length || basket.menuGroups.length">Nourritures :</h1>
    <ng-container *ngFor="let foodGroup of basket.foodGroups; index as i">
        <div class="amount-div">
            <app-amount-buttons
                    [(amount)]="foodGroup.amount"
                    (amountChange)="amountChange()"
            ></app-amount-buttons>
            {{foodService.productToFood(foodGroup.product).nom}}
            <button mat-button (click)="removeFoodGroup(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </ng-container>
    <ng-container *ngFor="let menuGroup of basket.menuGroups; index as i">
        <div class="amount-div">
            <app-amount-buttons
                    [(amount)]="menuGroup.amount"
                    (amountChange)="amountChange()"
            ></app-amount-buttons>
            {{menuGroup.product.nom}}
            <button mat-button (click)="removeMenuGroup(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </ng-container>
    <div *ngIf="basket.movies.length">
        <h1>Films :</h1>
        <div *ngFor="let movie of basket.movies; index as i">
            <button mat-button (click)="goToMoviePage(movie.id)">
                {{movie.title}} - {{movie.prix}} €
            </button>
            <button mat-button (click)="removeMovie(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    Total : {{basket.total}} €
</div>

