<div>
    <div>
        <h1>{{data.nom}}</h1>
        <p>{{data.description}}</p>
    </div>

    <div class="amount-div">
        <button class="btn btn-outline-success amount-btn" (click)="removeFood()"> <mat-icon>remove</mat-icon></button>
        {{amount}}
        <button class="btn btn-outline-success amount-btn" (click)="addFood()"><mat-icon>add</mat-icon></button>
    </div>
    <div class="btn-div">
        <button class="btn btn-outline-danger cancel-btn" (click)="close()"> Annuler</button>
        <button class="btn btn-outline-success total-btn" (click)="addToBasket()"> Total {{price}} €</button>
    </div>
</div>
