<div *ngIf="movie != undefined">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile class="poster-tile">
            <div class="poster-div">
                <div>
                    <img [src]="posterUrl" alt="poster">
                </div>
                <div>
                    <h1 class="mat-h1">{{movie.title}}</h1>
                    <mat-chip-list>
                        <mat-chip
                                *ngFor="let genre of movie.genres"
                                color="primary"
                                selected
                        >
                            {{genre.name}}
                        </mat-chip>
                    </mat-chip-list>
                    <button mat-button (click)="openHomepage()" >Go to Homepage</button>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="add-tile">
            <div class="add-div">
                <div>
                    <button mat-button>Add to command</button>
                </div>
                <div>
                    <star-rating [starType]="'svg'"
                                 [labelText]="'Score MovieDB'"
                                 [readOnly]="true"
                                 [rating]="movie.vote_average / 2">
                    </star-rating>
                    <star-rating
                            [starType]="'svg'"
                            [labelText]="'Score MenuCinema'"
                            [readOnly]="true"
                            rating="0">
                    </star-rating>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div>
        <h2 class="mat-h2 overview-title">Overview</h2>
        <p class="overview-text">{{movie.overview}}</p>
    </div>
    <div>

    </div>
    <div>
        <div>

        </div>
        <div>

        </div>
    </div>
</div>
