<div>
    <button mat-button (click)="firstTab()">
        <mat-icon>keyboard_return</mat-icon>
    </button>
    <button mat-button (click)="beforeTab()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button (click)="nextTab()">
        <mat-icon>arrow_forward</mat-icon>
    </button>
    <button mat-button (click)="lastTab()">
        <mat-icon>keyboard_tab</mat-icon>
    </button>
    <label>{{selectedTab}}</label>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" width="5%">
            type
        </th>

        <th scope="col" width="10%">
            name
            <button mat-button (click)="sortWithName()">
                <mat-icon>sort</mat-icon>
            </button>
        </th>
        <th scope="col" width="50%">
            description
        </th>
        <th scope="col" width="10%">
            prix
            <button mat-button (click)="sortWithPrice()">
                <mat-icon>sort</mat-icon>
            </button>
        </th>
    </tr>
    </thead>
    <tbody *ngIf="searchString !== '' && searchFoodResponse != undefined">
    <tr *ngFor="let food of searchFoodResponse.results">
        <th scope="row">{{food.type}}</th>
        <td>{{food.nom}}</td>
        <td>{{food.description}}</td>
        <td>{{food.prix}}</td>
    </tr>
    </tbody>
</table>
