.all-detail{
  width: 100%;
  display: block;
  position: relative;
}
.one-detail{
  width: 100%;
  background-color: lightgray;
  display: block;
  position: relative;
  margin-left: 20px;
}

strong{
  margin-left: 17px;
}

