<div class="row" (click)="order.isOpen = !order.isOpen">
    <div class="col-3 cell">{{order.dateHeure | date:"d/MM/yyyy HH:mm"}}</div>
    <div class="col-3 cell">
        <div>{{order.idFilms.length}} film</div>
        <div>{{order.idMenu.length}} menu(s)</div>
        <div>{{order.idPlats.length}} plat(s)</div>
    </div>
    <div class="col-3 cell">{{order.prix}}€</div>
</div>
<div class="row all-detail" *ngIf="order.isOpen">
    <strong> Film(s) </strong>
    <div class="one-detail" *ngFor="let movie of movies">  Titre : {{movie.title}} </div>
    <strong> Plat(s) et Menu(s) </strong>
    <div class="one-detail">
        <ng-container *ngFor="let oneMenu of order.nestedFood.menu">
            <div class="col-6 cell">
                Nom du menu : {{oneMenu.nom}}
            </div>
            <div class="col-3 cell">
                Prix : {{oneMenu.prix}}€
            </div>
        </ng-container>
    </div>
    <div class="one-detail" *ngFor="let oneProduct of order.nestedFood.product">
        <div class="col-6 cell">
            Nom : {{oneProduct.nom}}
        </div>
        <div class="col-3 cell">
            Prix :  {{oneProduct.prix}}€
        </div>
    </div>
</div>
